<template>
  <div id="application">
    <VitePwaManifest />
    <NuxtPage />
    <NuxtSnackbar />
    <ResolutionNotSupported />
  </div>
</template>

<script setup>
import { useSystemStore } from '@/store';
import { nextTick } from 'vue';
import { useTheme } from './hooks/useTheme';

const snackbar = useSnackbar();
const store = useSystemStore();
const theme = useTheme();
const nuxtApp = useNuxtApp();

const listenAuthorization = async () => {
  nuxtApp.$firebase.auth.onAuthStateChanged(async (user) => {
    if (!user) {
      store.unauthorize();
      store.appLoading = false;
      return;
    }
    store.appLoading = true;
    const snapshot = await nuxtApp.$firebase.getFbData(user.uid);
    if (snapshot.val()) {
      store.loadSongState(snapshot.val());
      theme.changeTheme(store.settings.theme);
    }
    await nextTick();
    store.authorize(user);
    store.appLoading = false;
  });
};

onMounted(() => {
  theme.setRootElement();
  theme.loadTheme();
  window.addEventListener('online', onlineHandler);
  window.addEventListener('offline', offlineHandler);
  listenAuthorization();
});
onBeforeUnmount(() => {
  window.removeEventListener('online', onlineHandler);
  window.removeEventListener('offline', offlineHandler);
});

const onlineHandler = () => {
  snackbar.add({ type: 'success', text: 'Connection restored' });
  listenAuthorization();
};
const offlineHandler = () => {
  snackbar.add({ type: 'error', text: 'You are lost connection' });
  store.unauthorize();
};
</script>
