<template>
  <div class="error-page">
    <div class="error-page__loader-wrapper">
      <Loader />
    </div>
  </div>
</template>

<script setup>
import { useRouter } from 'vue-router';
import { onMounted, onUnmounted } from 'vue';

const error = defineProps(['error']);
const router = useRouter();
const timerId = ref(null);

onMounted(() => {
  timerId.value = setTimeout(() => {
    router.push('/');
  }, 3000);
});

onUnmounted(() => {
  if (timerId.value) {
    clearTimeout(timerId.value);
  }
});
</script>

<style scoped>
.error-page {
  background: var(--main-bg);
  overflow: hidden;
}
</style>
