.link {
  display: inline-flex;

  &--l2 {
    font-size: 2rem;
  }

  &--l3 {
    font-size: 1.5rem;
  }

  &--accent {
    color: var(--accent-blue);
  }

  &--hover-accent a:hover {
    @include min-width-1366 {
      color: var(--accent-blue);
    }
  }

  &--center {
    text-align: center;
  }

  &:hover {
    cursor: pointer;
  }
}
