.heading {
  &--bold {
    font-weight: 600;
  }
  &--accent {
    color: var(--accent-blue);
  }

  &--center {
    width: 100%;
    text-align: center;
  }

  &--right {
    width: 100%;
    text-align: right;
  }

  &--h1 {
    margin-bottom: 4rem;
    font-size: 4rem;
    text-transform: uppercase;
    @include max-width-576 {
      margin-bottom: 1.8rem;
      font-size: 2.5rem;
    }
  }

  &--h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    @include max-width-576 {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
    }
  }

  &--h3 {
    margin-bottom: 2rem;
    font-size: 1.4rem;
  }
}
