html {
  background-color: var(--main-bg);
  font-family: Urbanist, Helvetica, sans-serif;
  color: var(--grey);
  font-size: 14px;
  overflow: hidden;
}

* {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(116 121 125 / 10%);
    border-radius: 5em;
  }
}

input {
  color: var(--grey) !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-o-inner-spin-button,
input[type='number']::-o-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999s;
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

#application {
  height: 100%;
}

#__nuxt,
.page {
  height: 100%;
  width: 100%;
  position: relative;
}

.page {
  padding: 20px;
  @include max-width-576 {
    padding: 10px;
  }
}

label {
  margin-bottom: 0.8rem;
  font-size: 18px;
}

input {
  color: var(--grey);
  text-indent: 1rem;
  padding: 0.3rem;
}

.common-input {
  background-color: var(--main-bg);
}

.icon {
  font-size: 36px;
  &:hover {
    color: var(--accent-blue);
    cursor: pointer;
  }
}

.icon-button {
  cursor: pointer;
  font-size: 18px;
  &:hover {
    background-color: var(--light-grey);
  }
  padding: 4px;
  border-radius: 4px;
  &.pencil {
    .html-code-icon {
      transform: rotate(-280deg);
    }
  }
  &--large {
    font-size: 20px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &--accent {
    color: var(--accent-blue);
  }
  &--error {
    color: var(--error);
  }
}

.glow {
  background-color: var(--accent-blue);
  box-shadow: 0 0 30px var(--accent-blue);
}

.vue3-snackbar-message-badge {
  display: none;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition: transform 0.5s;
}

.slide-left-enter,
.slide-right-leave-to {
  transform: translateX(-100%);
}

.slide-right-enter,
.slide-left-leave-to {
  transform: translateX(100%);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
