@font-face {
  font-weight: 200;
  font-family: Urbanist;
  font-style: normal;
  src: url('/assets/fonts/urbanist/Urbanist-ExtraLight.woff2') format('woff2'),
    url('/assets/fonts/urbanist/Urbanist-ExtraLight.woff') format('woff'),
    url('/assets/fonts/urbanist/Urbanist-ExtraLight.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: Urbanist;
  font-style: normal;
  src: url('/assets/fonts/urbanist/Urbanist-Regular.woff2') format('woff2'),
    url('/assets/fonts/urbanist/Urbanist-Regular.woff') format('woff'),
    url('/assets/fonts/urbanist/Urbanist-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Urbanist;
  font-style: normal;
  src: url('/assets/fonts/urbanist/Urbanist-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/urbanist/Urbanist-SemiBold.woff') format('woff'),
    url('/assets/fonts/urbanist/Urbanist-SemiBold.ttf') format('truetype');
  font-display: swap;
}
