html {
  --white: #ffffff;
  --accent-blue: #109ef1;
  --accent-yellow: #fdff7a;
  --grey: #74797d;
  --light-grey: #d8d8d83f;
  --error: #c45656de;
  --warn: #ff8000;
  --green: #1f4b1fde;
  --success: #5de65ade;
  --main-bg: #212529;
  --box-shadow-dark: #111315;
  --box-shadow-light: #31373d;
  --bg-outpressed: #212529;
  --bg-pressed: linear-gradient(145deg, #1e2125, #23282c);
  --transparent-dark: rgba(0, 0, 0, 0.4);
  &[data-theme='light'] {
    --main-bg: #ecf0f3;
    --accent-yellow: #b5b733;
    --box-shadow-dark: #c9cccf;
    --box-shadow-light: #ffffff;
    --bg-outpressed: #ecf0f3;
    --bg-pressed: linear-gradient(145deg, #d4d8db, #fdffff);
  }
}
