<template>
  <button
    class="action-button"
    :type="typeButton ? 'button' : 'submit'"
    :disabled="disabled"
  >
    <span v-if="!loading">{{ text }}</span>
    <slot />
    <Loader v-if="loading" />
  </button>
</template>

<script setup>
const props = defineProps({
  text: String,
  disabled: Boolean,
  typeButton: Boolean,
  loading: Boolean,
});
</script>

<style lang="scss">
.action-button {
  border: solid 1px var(--grey);
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-button .loader {
  transform: scale(0.3);
  position: relative;
  top: auto;
  left: auto;
}

.action-button:hover:not([disabled]) {
  border-color: var(--accent-blue);
  color: var(--accent-blue);
  cursor: pointer;
  svg {
    fill: var(--accent-blue);
  }
}

.action-button:disabled {
  opacity: 0.5;
}
</style>
