<template>
  <div class="beats-modal" :class="{ 'beats-modal--show': show }">
    <div class="beats-modal__stub" @click="closeModal" />
    <div class="beats-modal__content">
      <div class="paragraph paragraph--p3"></div>
      <div class="beats-modal__close link link--accent" @click="closeModal">
        close
      </div>
      <div class="beats-modal__content-element">
        <NeuroSlider
          :min="constants.beatsMin"
          :max="constants.beatsMax"
          :step="1"
          :label="`Beats ${store.currentSong.beats}`"
          v-model="store.currentSong.beats"
        />
      </div>
      <div class="beats-modal__content-element">
        <NeuroSlider
          :min="constants.sizeMin"
          :max="constants.sizeMax"
          :step="2"
          :label="`Size ${store.currentSong.size}`"
          v-model="store.currentSong.size"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
import { useSystemStore } from '@/store';
import { constants } from '@/constants';

const store = useSystemStore();
const props = defineProps({
  show: Boolean,
});
const emit = defineEmits(['closeModal']);

const closeModal = () => {
  emit('closeModal');
};
</script>

<style lang="scss">
.beats-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}

.beats-modal__stub {
  position: absolute;
  @include dark-glass;
  width: 100%;
  height: 100%;
}

.beats-modal__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 210px;
  position: absolute;
  @include absolute-center;
  border-radius: 8px;
  background-color: var(--main-bg);
  padding: 20px 20px 36px 20px;
}

.beats-modal__content-element:last-child {
  margin-top: 12px;
}

.beats-modal__close {
  position: absolute;
  right: 20px;
}

.beats-modal--show {
  pointer-events: auto;
  opacity: 1;
}
</style>
