<template>
  <form class="edit-song" @submit.prevent="emit('do', songState)">
    <div class="edit-song__top-side">
      <NeuroInput
        v-model="songState.author"
        id="author"
        label="Author"
        :rules="[fieldRequired]"
        @valid="authorValid = true"
        validate-on-mounted
      />
      <NeuroInput
        v-model="songState.name"
        id="name"
        label="Name"
        :rules="[fieldRequired]"
        @valid="nameValid = true"
        validate-on-mounted
      />
      <NeuroSlider
        v-model="songState.beats"
        :min="constants.beatsMin"
        :max="constants.beatsMax"
        :step="1"
        :label="`Beats ${songState.beats}`"
      />
      <NeuroSlider
        class="edit-song__size"
        v-model="songState.size"
        :min="constants.sizeMin"
        :max="constants.sizeMax"
        :step="2"
        :label="`Size ${songState.size}`"
      />
    </div>
    <div class="edit-song__bottom-side">
      <div class="edit-song__bottom-side-inputs">
        <div class="edit-song__bottom-side-element">
          <div class="edit-song__bottom-side-element-title">Bpm</div>
          <input
            class="edit-song__bpm"
            v-model="songState.bpm"
            @blur="(e) => bpmBlurHandler(e, constants)"
            type="number"
          />
        </div>
        <div class="edit-song__bottom-side-element">
          <div class="edit-song__bottom-side-element-title">Accent</div>
          <NeuroSwitch v-model="songState.accent" label="Accent" />
        </div>
      </div>
      <ActionButton
        :text="props.initialState.buttonText"
        :disabled="!authorValid || !nameValid"
      />
    </div>
  </form>
</template>

<script setup lang="ts">
import { ref, reactive } from 'vue';
import { fieldRequired } from '@/utils/validation-rules';
import { constants } from '@/constants';
import { initSong } from '../store';

const emit = defineEmits(['closeModal']);

const props = defineProps({
  initialState: {
    type: Object,
    default: () => ({
      ...initSong,
      buttonText: 'Save',
    }),
  },
});

const authorValid = ref(false);
const nameValid = ref(false);

const songState = reactive({
  author: props.initialState.author,
  name: props.initialState.name,
  beats: props.initialState.beats,
  size: props.initialState.size,
  bpm: props.initialState.bpm,
  accent: props.initialState.accent,
});
</script>

<style lang="scss">
.edit-song {
  max-width: 100%;
  padding: 0 20px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
  padding-bottom: 24px;
}

.edit-song__bottom-side-inputs {
  display: flex;
}

.edit-song__bottom-side {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.edit-song__bpm {
  @include neuro-pressed;
  font-size: 18px;
  height: 36px;
  max-width: 65px;
  margin-bottom: 0;
  border-radius: 4px;
}

.edit-song__bottom-side-element {
  margin-right: 18px;
}

.edit-song__bottom-side-element-title {
  margin-bottom: 0.8rem;
  font-size: 18px;
}

.edit-song__size {
  @include max-width-768 {
    margin-top: 32px;
  }
}

.edit-song__top-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  margin-bottom: 32px;

  @include max-width-768 {
    grid-template-columns: 1fr;
  }
}
</style>
