<template>
  <div
    class="hot-keys"
    :class="{ 'hot-keys--open': hotKeysOpen }"
    @click="hotKeysOpen = !hotKeysOpen"
  >
    <div class="hot-keys__content">
      <p>"Space" - Play/Stop</p>
      <p>"Numpad multiply (*)" - Tap</p>
      <p>"ArrowRight/ArrowUp" - IncreaseBpm</p>
      <p>"ArrowLeft/ArrowDown" - DecreaseBpm</p>
    </div>
    <div class="hot-keys__trigger">
      <span>hot keys</span>
    </div>
  </div>
</template>
<script setup>
const hotKeysOpen = ref(false);
</script>
<style lang="scss">
.hot-keys {
  cursor: pointer;
  position: absolute;
  top: 50%;
  display: none;
  transition: ease-in-out 0.4s left;
  left: -300px;
  z-index: 1;
  color: var(--grey);
}

.hot-keys--open {
  transition: ease-in-out 0.4s left;
  left: 0;
}

@include min-width-1366 {
  .hot-keys {
    display: flex;
  }
}

.hot-keys__trigger {
  background-color: var(--grey);
  color: var(--main-bg);
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  padding: 8px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.hot-keys__content {
  display: flex;
  background-color: var(--transparent-dark);
  flex-direction: column;
  padding: 12px;
  width: 300px;
}

.hot-keys__content p {
  margin-bottom: 4px;
}

.hot-keys__content p:last-child {
  margin-bottom: 0;
}
</style>
