<template>
  <div class="controls">
    <div class="controls__element" v-if="store.authorized">
      <Neuro-button
        text="Songs"
        @click="store.songListOpen = true"
        :pressed="store.songListOpen"
      />
    </div>
    <div class="controls__element">
      <Neuro-button
        text="Accent"
        :pressed="store.currentSong.accent"
        @click="store.currentSong.accent = !store.currentSong.accent"
      />
    </div>
    <div class="controls__element">
      <Neuro-button
        :text="store.isPlaying ? 'Stop' : 'Play'"
        @click="store.isPlaying = !store.isPlaying"
        :pressed="store.isPlaying"
      />
    </div>
    <div class="controls__element">
      <TapButton
        @bpm="($event) => bpmUpdate($event.value)"
        @tap-handler="($event) => (tap = $event)"
      />
    </div>
  </div>
</template>
<script setup>
import { useSystemStore } from '@/store';
const store = useSystemStore();
const props = defineProps({
  bpmUpdate: Function,
  tapTriggeredCounter: Number,
});
const tap = ref(() => {});
watch(
  () => props.tapTriggeredCounter,
  () => tap.value()
);
</script>

<style lang="scss">
.controls {
  display: flex;
  justify-content: center;
}
.controls {
  @include max-width-768 {
    margin-bottom: 24px;
  }
}

.controls__element {
  margin-right: 12px;
  @include max-width-576 {
    width: 60px;
  }
}

.controls__element:last-child {
  margin: 0;
}

.controls__element button {
  @include max-width-576 {
    width: 100%;
  }
}
</style>
