<template>
  <div class="main-top-side">
    <div class="main-top-side__logo">
      <img src="@/assets/img/logo.svg" />
      <div class="paragraph paragraph--accent paragraph--p2">remetronome</div>
    </div>
    <div class="main-top-side__settings">
      <Neuro-button
        shape="square"
        :pressed="store.userMenuOpen"
        @click="store.userMenuOpen = true"
      >
        <div class="main-top-side__burger-menu">
          <span class="main-top-side__burger-menu-center-line" />
        </div>
      </Neuro-button>
    </div>
  </div>
</template>

<script setup>
import { useSystemStore } from '@/store';
const store = useSystemStore();
</script>
<style lang="scss">
.main-top-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-top-side__logo {
  display: flex;
  align-items: baseline;
}

.main-top-side__logo img {
  width: 40px;
}

.main-top-side__logo img {
  @include max-height-768 {
    width: 30px;
  }
}

.main-top-side__burger-menu {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main-top-side__burger-menu::before,
.main-top-side__burger-menu .main-top-side__burger-menu-center-line,
.main-top-side__burger-menu::after {
  height: 2px;
  width: 100%;
  background-color: var(--grey);
}

.main-top-side__burger-menu::before,
.main-top-side__burger-menu::after {
  content: '';
}

.neuro-button--pressed .main-top-side__burger-menu::before,
.neuro-button--pressed
  .main-top-side__burger-menu
  .main-top-side__burger-menu-center-line,
.neuro-button--pressed .main-top-side__burger-menu::after {
  background-color: var(--accent-blue);
}
</style>
