<template>
  <div class="neuro-slider">
    <label>{{ label }}</label>
    <input
      type="range"
      :min="min"
      :max="max"
      :step="step"
      :value="modelValue"
      @input="inputHandler"
      @wheel="bpmWheelChange"
    />
  </div>
</template>

<script setup>
const props = defineProps({
  min: Number,
  max: Number,
  step: Number,
  label: String,
  modelValue: Number,
});
const emit = defineEmits(['update:modelValue']);

const inputHandler = (event) => {
  emit('update:modelValue', Number(event.target.value));
};
const bpmWheelChange = (event) => {
  let updatedValue = props.modelValue;
  if (event.deltaY > 0) {
    updatedValue++;
    if (updatedValue > props.max) updatedValue = props.max;
  }
  if (event.deltaY < 0) {
    updatedValue--;
    if (updatedValue < props.min) updatedValue = props.min;
  }
  emit('update:modelValue', updatedValue);
};
</script>

<style lang="scss">
.neuro-slider {
  width: 100%;
}

.neuro-slider input {
  width: 100%;
  padding: 0.5rem;
  vertical-align: middle;
  background: none;
  border: 2px solid var(--main-bg);
  border-radius: 20px;
  appearance: none;
  margin-top: 0.8rem;
  height: 36px;
  @include neuro-pressed;
}

.neuro-slider input::-webkit-slider-runnable-track {
  border: 1px solid transparent;
  border-radius: 10px;
}

.neuro-slider input::-webkit-slider-thumb {
  width: 60px;
  height: 20px;
  background-color: var(--accent-light);
  border: var(--accent-light);
  border-radius: 10px;
  appearance: none !important;
  @include neuro;
}
</style>
