<template>
  <button
    :class="`neuro-button neuro-button--${shape ?? 'common'}${
      pressed ? ' neuro-button--pressed' : ''
    }`"
  >
    {{ text }}
    <slot />
  </button>
</template>

<script setup>
const props = defineProps({
  text: String,
  shape: String,
  pressed: Boolean,
  returnPressed: Boolean,
});
</script>
<style lang="scss">
.neuro-button {
  @include neuro;
  padding: 1rem 0.5rem;
  border-radius: 8px;
  font-size: 14px;
  width: 6rem;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.neuro-button {
  @include max-width-576 {
    font-size: 12px;
  }
}

.neuro-button--pressed {
  @include neuro-pressed;
  color: var(--accent-blue);
}

.neuro-button--square {
  width: 3rem;
  height: 3rem;
}

.neuro-button--round {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
</style>
