<template>
  <div class="neuro-input-switch">
    <input type="checkbox" :checked="isChecked" @change="changeHandler" />
    <div class="neuro-input-switch__slider" />
  </div>
</template>

<script setup>
const props = defineProps({
  modelValue: {
    type: [Boolean, String],
    default: false,
  },
  trueValue: {
    type: String,
    default: 'enabled',
  },
  falseValue: {
    type: String,
    default: 'disabled',
  },
});

const emit = defineEmits(['update:modelValue']);

const isChecked = computed(() => {
  if (typeof props.modelValue === 'boolean') {
    return props.modelValue;
  }
  return props.modelValue === props.trueValue;
});

const changeHandler = (event) => {
  const value = event.target.checked ? props.trueValue : props.falseValue;
  emit('update:modelValue', value);
};
</script>

<style lang="scss">
.neuro-input-switch {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60px;
  min-width: 60px;
  height: 36px;
}

.neuro-input-switch input {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.neuro-input-switch input:checked + .neuro-input-switch__slider::before {
  transform: translateX(22px);
  content: 'on';
  color: var(--accent-yellow);
}

.neuro-input-switch.theme .neuro-input-switch__slider::before {
  font-size: 1rem;
  font-size: 9px;
  content: 'dark';
}
.neuro-input-switch.theme .neuro-input-switch__slider::before {
  @include max-width-576 {
    font-size: 0.8rem;
  }
}

.neuro-input-switch.theme input:checked + .neuro-input-switch__slider::before {
  color: var(--accent-blue);
  font-size: 9px;
  content: 'light';
}
.neuro-input-switch.theme input:checked + .neuro-input-switch__slider::before {
  @include max-width-576 {
    font-size: 0.8rem;
  }
}

.neuro-input-switch__slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid var(--main-bg) 2px;
  transition: 0.4s transform;
  width: 100%;
  @include neuro-pressed;
}

.neuro-input-switch__slider.round {
  border-radius: 34px;
}

.neuro-input-switch__slider::before {
  @include neuro;
  position: absolute;
  bottom: 4px;
  left: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 80%;
  transition: 0.4s transform;
  content: 'off';
  color: var(--grey);
}
</style>
