<template>
  <div class="neuro-input" :class="{ 'neuro-input--disabled': disabled }">
    <label v-if="label">{{ label }}</label>
    <input
      :type="type ? type : 'text'"
      :id="id"
      :value="modelValue"
      @input="updateValue"
      :disabled="disabled"
    />
    <div class="neuro-input__action-slot">
      <slot class="neuro-input__slot" />
    </div>
    <span
      :id="`${id}-error`"
      class="neuro-input__errors"
      :class="{ 'neuro-input__errors--hide': !error }"
    >
      {{ error }}
    </span>
  </div>
</template>

<script setup>
import { ref } from 'vue';

const props = defineProps({
  label: String,
  id: String,
  type: String,
  modelValue: String | Number,
  rules: Array,
  disabled: Boolean,
  validateOnMounted: Boolean,
});

const error = ref('');
const modelValue = ref(props.modelValue);

const emit = defineEmits(['update:modelValue', 'valid', 'validate']);

const validate = (value) => {
  if (!props.rules) return;
  props.rules.forEach((rule) => {
    error.value = !rule.regExp.test(value) ? rule.text : '';
  });
  if (!error.value) emit('valid');
};

const updateValue = (event) => {
  const { value } = event.target;
  validate(value);
  modelValue.value = value;
  emit('update:modelValue', value);
};

onMounted(() => {
  if (props.validateOnMounted) validate();
  emit('validate', validate);
});
</script>

<style lang="scss">
.neuro-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  position: relative;
  z-index: 1;
}

.neuro-input input {
  border-radius: 4px;
  font-size: 18px;
  height: 36px;
  @include neuro-pressed;
}

.neuro-input__errors {
  position: absolute;
  bottom: -24px;
  color: var(--error);
  font-size: 12px;
  transition: 0.4s ease-in-out opacity;
  opacity: 1;
}

.neuro-input__errors--hide {
  opacity: 0;
}

.neuro-input__errors#password-error {
  bottom: -36px;
}

.neuro-input__action-slot {
  text-align: right;
  position: absolute;
  top: 4px;
  right: 4px;
}

.neuro-input--disabled {
  opacity: 0.5;
}
</style>
