<template>
  <div class="resolution-not-supported heading heading--h2">
    Resolution not supported
  </div>
</template>

<style lang="scss">
.resolution-not-supported {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg);
  z-index: 2;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  display: none;
  text-align: center;
}
.resolution-not-supported {
  @include max-width-320 {
    display: flex;
  }
}

@media (max-height: 640px) and (orientation: portrait) {
  .resolution-not-supported {
    display: flex;
  }
}
</style>
