<template>
  <div class="songs-menu" :class="{ 'songs-menu--open': store.songListOpen }">
    <div class="songs-menu__stub" @click="close" />
    <div class="songs-menu__wrapper glow">
      <div class="songs-menu__top">
        <div class="songs-menu__tabs">
          <div
            v-for="block of blocks"
            :key="block.id"
            class="link link--l3"
            @click="setBlock(block.id)"
            :class="{ 'link--accent': block.id === currentBlock.id }"
          >
            <div v-if="!block.hide">{{ block.name }}</div>
          </div>
        </div>
        <div class="link link--accent link--l3" @click="close">close</div>
      </div>
      <div class="songs-menu__content-wrapper">
        <div
          v-if="!store.songList.length && currentBlock.id === 'songs'"
          class="songs-menu__empty-content"
        >
          The song list is empty
        </div>
        <div v-if="currentBlock.id === 'songs'" class="songs-menu__content">
          <Song
            v-for="song of store.songList"
            :key="song.id"
            :status="song.id === store.currentSong.id ? 'active' : 'not-active'"
            @edit-song="editSongHandler"
            v-bind="song"
          />
        </div>
        <EditSong v-if="currentBlock.id === 'new-song'" @do="saveSongHandler" />
        <EditSong
          v-if="currentBlock.id === 'update-song'"
          :initial-state="songToUpdate"
          @do="updateHandler"
          button-text="update"
        />
        <SpotifySearchSong v-if="currentBlock.id === 'search'" />
      </div>
    </div>
  </div>
</template>

<script setup>
import { useSystemStore } from '@/store';
import { reactive } from 'vue';
import { initSong } from '../store';

const nuxtApp = useNuxtApp();
const store = useSystemStore();
const snackbar = useSnackbar();

let songToUpdate = reactive(initSong);

const saveSongHandler = (song) => {
  store.saveSong(song);
  snackbar.add({ type: 'success', text: 'Song saved' });
  currentBlock.value = initBlock;
};

const updateHandler = async (song) => {
  store.updateSong(song);
  await nuxtApp.$firebase.updateFbValue(store.userId, song);
  snackbar.add({ type: 'success', text: 'Song updated' });
  currentBlock.value = initBlock;
};

const blocks = [
  {
    id: 'songs',
    name: 'List',
    hide: false,
  },
  {
    id: 'new-song',
    name: 'Add',
    hide: false,
  },
  {
    id: 'search',
    name: 'Find',
    hide: false,
  },
  {
    id: 'update-song',
    name: 'Update',
    hide: true,
  },
];

const initBlock = blocks[0];
const currentBlock = ref(initBlock);

const setBlock = (id) => {
  currentBlock.value = blocks.find((block) => block.id === id);
};
const close = () => (store.songListOpen = false);

const editSongHandler = (songId) => {
  currentBlock.value = blocks[3];
  songToUpdate = store.songList.find((song) => song.id === songId);
};
</script>

<style lang="scss">
.songs-menu {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 1;
}

.songs-menu__tabs {
  display: flex;
}

.songs-menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
  margin-bottom: 14px;
}

.songs-menu__top .link {
  margin-right: 12px;
}

.songs-menu__top .link:last-child {
  margin-right: 0;
}

.songs-menu__content-wrapper {
  height: 100%;
}

.songs-menu__empty-content {
  padding: 0 20px;
  font-size: 20px;
}

.songs-menu__content {
  max-height: 90%;
  padding: 10px 20px 30px 20px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.songs-menu--open {
  pointer-events: auto;
}

.songs-menu--open .songs-menu__stub {
  top: 0;
  transition: ease-in-out top 0.3s;
}

.songs-menu--open .songs-menu__stub {
  @include max-width-768 {
    height: 30%;
  }
}

.songs-menu--open .songs-menu__wrapper {
  bottom: 0;
  transition: ease-in-out bottom 0.3s;
}

.songs-menu--open .songs-menu__wrapper {
  @include max-width-768 {
    height: 70%;
  }
}

.songs-menu__stub {
  content: '';
  position: absolute;
  top: -60%;
  width: 100%;
  height: 60%;
  @include dark-glass;
  transition: ease-in-out top 0.3s;
}

.songs-menu__wrapper {
  height: 40%;
  position: absolute;
  width: 100%;
  bottom: -100%;
  background-color: var(--main-bg);
  transition: ease-in-out bottom 0.3s;
}

.songs-menu__wrapper {
  @include max-width-768 {
    height: 70%;
  }
}
</style>
