<template>
  <div class="song" @click.prevent="setSongHandler(id)">
    <div class="song__title">
      <div :class="`song__status song__status--${status}`" />
      <div class="song__author">{{ author }} - {{ name }}</div>
    </div>
    <div class="song__controls">
      <div class="song__bpm">{{ bpm }} bpm</div>
      <div class="song__beats">{{ beats }}/{{ size }}</div>
      <div class="song__controls">
        <div class="icon-button icon-button--accent pencil">
          <div class="html-code-icon" @click.stop="editSongHandler">
            &#9998;
          </div>
        </div>
        <div
          class="icon-button icon-button--error"
          @click.stop="deleteSongHandler"
        >
          <div class="html-code-icon">&#10006;</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useSystemStore } from '@/store';
const store = useSystemStore();
const nuxtApp = useNuxtApp();
const snackbar = useSnackbar();

const setSongHandler = (id) => {
  store.setSong(id);
  nuxtApp.$firebase.updateFbValue(store.userId, store.valuesToSave);
};

const props = defineProps({
  id: String,
  author: String,
  name: String,
  bpm: Number,
  beats: Number,
  size: Number,
  status: String,
});

const emit = defineEmits(['edit-song']);

const editSongHandler = () => {
  emit('edit-song', props.id);
};

const deleteSongHandler = () => {
  store.deleteSong(props.id);
  snackbar.add({ type: 'info', text: `Song ${props.name} deleted` });
};
</script>

<style lang="scss">
.song {
  @include neuro;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.song__author {
  white-space: nowrap;
}

.song__title {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.song__controls {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.song__controls .icon-button:first-child {
  margin-right: 8px;
}

.song__status {
  width: 8px;
  height: 8px;
  min-width: 8px;
  min-height: 8px;
  border-radius: 50%;
  background-color: var(--green);
  margin-right: 4px;
}

.song__status--active {
  background-color: var(--success);
}

.song__status--active .song {
  cursor: default;
}
</style>
