<template>
  <div class="spotify-search-song">
    <Loader v-if="loadingSpotifyToken" />
    <div
      v-if="!token"
      class="spotify-search-song__connection-error paragraph paragraph--p2 paragraph--red"
    >
      Failed to connect to Spotify
    </div>
    <form v-if="token" @submit.prevent="searchHandler">
      <NeuroInput
        v-model="query"
        class="spotify-search-song__name-input"
        :disabled="searchSongLoading"
      />
      <ActionButton
        text="Search"
        :loading="searchSongLoading"
        :disabled="searchSongLoading || !query"
      />
    </form>
    <div class="spotify-search-song__content">
      <div
        v-for="track of tracksFound"
        class="spotify-search-song__element-wrapper"
        :class="{
          'spotify-search-song__element-wrapper--exist': isTrackExistList(
            track.id
          ),
        }"
        :key="track.id"
        @click="addSongHandler(track)"
        :id="track.id"
      >
        <div
          v-if="isTrackExistList(track.id)"
          class="spotify-search-song__added"
        >
          ✔
        </div>
        <Loader v-if="track.loading" />
        <div v-else class="spotify-search-song__element">
          <div class="spotify-search-song__name">{{ track.name }}</div>
          <div class="spotify-search-song__artists">
            {{ track.artists.join('/') }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onMounted } from 'vue';
import { useSystemStore } from '@/store';

const query = ref('');
const token = ref(null);
const loadingSpotifyToken = ref(true);
const searchSongLoading = ref(false);
const tracksFound = ref([]);
const store = useSystemStore();
const nuxtApp = useNuxtApp();

const isTrackExistList = (id) =>
  Boolean(store.songList.find((song) => song.id === id));

const getSpotifyToken = async () => {
  try {
    const response = await nuxtApp.$spotify('getToken');
    if (response.status !== 200) {
      throw new Error('Failed to get spotify access token');
    }
    const { access_token } = await response.json();
    token.value = access_token;
  } catch (e) {
    console.error(e);
  } finally {
    loadingSpotifyToken.value = false;
  }
};

onMounted(() => {
  if (store.authorized) getSpotifyToken();
});

const searchHandler = async () => {
  try {
    searchSongLoading.value = true;
    const payload = {
      query: query.value,
      token: token.value,
    };
    const response = await nuxtApp.$spotify('findTracks', payload);
    if (response.status !== 200) {
      // add handler
      throw new Error('Failed to find song');
    }
    const parsedResponse = await response.json();
    const { items } = parsedResponse.tracks;
    tracksFound.value = items.map((item) => {
      return {
        name: item.name,
        artists: item.artists.map((artist) => artist.name),
        id: item.id,
        loading: false,
      };
    });
  } catch (e) {
    console.error(e);
  } finally {
    searchSongLoading.value = false;
  }
};

const updateSongLoadingState = (id, value) => {
  tracksFound.value.forEach((track) => {
    if (track.id == id) track.loading = value;
  });
};

const snackbar = useSnackbar();

const addSongHandler = async (song) => {
  try {
    updateSongLoadingState(song.id, true);
    const response = await nuxtApp.$spotify('getBPMBySongId', {
      id: song.id,
      token: token.value,
    });
    if (response.status !== 200) {
      // add handler
      throw new Error('Failed to get song bpm');
    }
    const parsedResponse = await response.json();
    const bpm = Math.floor(Number(parsedResponse.tempo));
    store.saveSpotifySong({
      id: song.id,
      name: song.name,
      author: song.artists.join('/'),
      bpm,
    });
    snackbar.add({
      type: 'success',
      text: 'Song added successfully',
    });
  } catch (e) {
    console.error(e);
  } finally {
    updateSongLoadingState(song.id, false);
  }
};
</script>

<style lang="scss">
.spotify-search-song {
  height: 100%;
}

.spotify-search-song__connection-error {
  padding-left: 20px;
}

.spotify-search-song__content {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 0fr;
  grid-gap: 10px;
  max-height: 90%;
  padding: 20px;
}

.spotify-search-song__element-wrapper {
  @include neuro;
  padding: 10px;
  border-radius: 4px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.spotify-search-song__element-wrapper:hover {
  color: var(--accent-blue);
}

.spotify-search-song__element-wrapper .loader {
  transform: scale(0.7);
  position: relative;
  top: 0;
  left: 0;
}

.spotify-search-song__element-wrapper--exist {
  color: var(--success);
  cursor: default;
  opacity: 0.4;
}

.spotify-search-song__element-wrapper--exist:hover {
  color: var(--success);
}

.spotify-search-song__element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spotify-search-song__artists {
  text-align: center;
}

.spotify-search-song__added {
  position: absolute;
  top: 12px;
  right: 12px;
  color: var(--success);
}

.spotify-search-song__name-input {
  margin-bottom: 0;
  margin-right: 14px;
}

.spotify-search-song form {
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
}

.spotify-search-song form .action-button {
  width: 100px;
}

.spotify-search-song form .neuro-input {
  @include max-width-576 {
    width: 100%;
    margin-right: 0;
  }
}

.spotify-search-song form .action-button {
  @include max-width-576 {
    margin-top: 14px;
    max-width: unset;
    width: 100%;
  }
}
</style>
