<template>
  <div class="tap-button-wrapper">
    <NeuroButton
      text="Tap"
      class="tap-button-wrapper__tap"
      @click="tapHandler"
      :pressed="pressed"
    />
  </div>
</template>

<script setup>
const pressed = ref(false);
const precision = ref(5);
const taps = ref([]);
const ticks = ref([]);

const emit = defineEmits(['bpm', 'tap-handler']);

const bpm = computed(() => {
  let n = 0;
  for (let i = ticks.value.length - 1; i >= 0; i--) {
    n += ticks.value[i];
    if (ticks.value.length - i >= precision.value) break;
  }
  return Math.ceil(n / precision.value);
});

const calcBPM = () => {
  for (let i = 0; i < taps.value.length; i++) {
    if (i >= 1) {
      ticks.value.push(
        Math.round(
          (60 / (taps.value[i] / 1000 - taps.value[i - 1] / 1000)) * 100
        ) / 100
      );
    }
  }
  if (taps.value.length >= 24) taps.value.shift();
};

const tapPressedTimerId = ref(null);
const tapHandler = () => {
  pressed.value = true;
  taps.value.push(Date.now());
  if (taps.value.length >= 2) {
    calcBPM();
    emit('bpm', bpm);
  }
  tapPressedTimerId.value = setTimeout(() => {
    pressed.value = false;
    clearTimeout(tapPressedTimerId.value);
  }, 50);
};

emit('tap-handler', tapHandler);
</script>
<style lang="scss">
.tap-button-wrapper__tap {
  color: var(--accent-yellow);
}
</style>
