<template>
  <div class="user-menu" :class="{ 'user-menu--open': store.userMenuOpen }">
    <div class="user-menu__content glow">
      <form v-if="store.authorized" class="user-menu__info">
        <div v-if="store.avatarUrl" class="user-menu__avatar">
          <img :src="store.avatarUrl" alt="avatar" />
        </div>
        <div class="user-menu__name">
          <div class="paragraph paragraph--p3 ellipsis">
            {{ store.displayName }}
          </div>
        </div>
        <div class="user-menu__email">
          <div class="paragraph paragraph--center paragraph--p3 ellipsis">
            {{ store.email }}
          </div>
        </div>
      </form>
      <div
        v-else
        class="user-menu__info paragraph paragraph--p2 paragraph--accent"
      >
        Unauthorized
      </div>
      <div class="user-menu__controls">
        <div
          class="user-menu__controls-element"
          @click="menuLinkClick('/policy')"
        >
          <div class="link link link--l3">privacy policy</div>
        </div>
        <div
          v-if="store.authorized"
          class="user-menu__controls-element"
          @click="menuLinkClick('/SignIn')"
        >
          <div @click="exit" class="link link--accent link--l3">sign-out</div>
        </div>
        <div v-else class="user-menu__controls-element">
          <div
            @click="menuLinkClick('/SignIn')"
            class="link link link--l3 link--accent"
          >
            sign-in
          </div>
        </div>
      </div>
      <NeuroSwitch
        @update:model-value="changeThemeHandler"
        :model-value="store.settings.theme"
        class="theme"
        trueValue="light"
        falseValue="dark"
      />
    </div>
    <div class="user-menu__stub" @click="store.userMenuOpen = false" />
  </div>
</template>

<script setup>
import { useSystemStore } from '@/store';
import { signOut } from 'firebase/auth';
import { useTheme } from '../hooks/useTheme';

const router = useRouter();
const store = useSystemStore();
const nuxtApp = useNuxtApp();
const theme = useTheme();

const exit = () => {
  try {
    signOut(nuxtApp.$firebase.auth);
  } catch (e) {
    console.error(e);
  }
};
const menuLinkClick = (link) => {
  store.userMenuOpen = false;
  router.push(link);
};

const changeThemeHandler = (newTheme) => {
  theme.changeTheme(newTheme);
};
</script>

<style lang="scss">
.user-menu {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.user-menu--open {
  pointer-events: auto;
}

.user-menu--open .user-menu__content {
  top: 0;
  transition: ease-in-out top 0.3s;
  z-index: 1;
}

.user-menu--open .user-menu__stub {
  bottom: 0;
  transition: ease-in-out bottom 0.3s;
}

.user-menu__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background-color: var(--main-bg);
  width: 100%;
  height: 100px;
  top: -100%;
  left: 0;
  padding: 0 8px;
  transition: ease-in-out top 0.3s;
}

@include max-width-768 {
  .user-menu__content {
    flex-direction: column;
    height: 300px;
    padding-bottom: 14px;
  }
}

.user-menu__avatar {
  margin-right: 14px;
  @include neuro-pressed;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-menu__avatar img {
  padding: 2px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-menu__name {
  margin-right: 14px;
  width: 200px;
}

@include max-width-768 {
  .user-menu__name {
    text-align: center;
  }
}

.user-menu__email {
  width: 250px;
  margin-right: 10px;
  line-height: 1.1;
}

.user-menu__email {
  @include max-width-768 {
    margin-right: 0;
    margin-bottom: 4px;
  }
}

.user-menu__info {
  display: flex;
  align-items: center;
}

.user-menu__info {
  @include max-width-768 {
    flex-direction: column;
  }
}

.user-menu__controls {
  display: flex;
  align-items: center;
}

.user-menu__controls {
  @include max-width-768 {
    flex-direction: column;
  }
}

.user-menu__controls-element {
  margin-left: 14px;
}

.user-menu__controls-element {
  @include max-width-768 {
    margin-left: 0;
    margin-bottom: 14px;
  }
}

.user-menu__stub {
  @include dark-glass;
  position: absolute;
  width: 100%;
  height: calc(100% - 100px);
  bottom: -100%;
  transition: ease-in-out bottom 0.3s;
}

.user-menu__stub {
  @include max-width-768 {
    height: calc(100% - 300px);
  }
}
</style>
