.paragraph {
  line-height: 1.5;
  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--p1 {
    font-size: 4rem;
    @include max-height-768 {
      font-size: 2rem;
    }
  }

  &--p2 {
    font-size: 2rem;
    line-height: 3rem;
    @include max-height-768 {
      font-size: 1.5rem;
    }
  }

  &--p3 {
    font-size: 1.5rem;
    @include max-height-768 {
      font-size: 1.1rem;
    }
  }

  &--p4 {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  &--p5 {
    font-size: 0.8rem;
  }

  &--bold {
    font-weight: 600;
  }

  &--red {
    color: var(--error);
  }

  &--accent {
    color: var(--accent-blue);
  }

  &--warn {
    color: var(--warn);
  }

  &--success {
    color: var(--success);
  }
}
