<template>
  <div class="page-wrapper">
    <Loader v-if="store.appLoading" />
    <div v-show="!store.appLoading" class="main page">
      <div class="main__version">{{ packageData.version }}</div>
      <MainTopSide />
      <HotKeys />
      <div class="main__content">
        <div class="beats-indicator">
          <div class="beats-indicator__title">BEATS</div>
          <div class="beats-indicator__container">
            <div
              v-for="el in store.currentSong.beats"
              ref="beatsDOM"
              :key="el"
              class="beats-indicator__element"
            />
          </div>
        </div>
        <div class="volume">
          <div class="volume__title">VOLUME</div>
          <input
            class="volume__input"
            type="range"
            v-model="store.settings.volume"
            :min="String(constants.minVolume)"
            max="0"
            step="0.001"
            @wheel="volumeWheelChange"
          />
        </div>
        <div v-if="store.authorized" class="main__song-title-wrapper">
          <div
            v-if="!store.isCurrentSongDefault"
            class="main__song-title paragraph paragraph--p3"
          >
            {{ store.currentSong.author }} - {{ store.currentSong.name }}
          </div>
          <ActionButton
            :loading="updateSongLoading"
            class="main__song-update-btn"
            :disabled="updateSongLoading"
            @click="updateSong"
            v-if="!store.isCurrentSongDefault"
          >
            <svg
              v-if="!updateSongLoading"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
              fill="#74797d"
            >
              <path
                d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6s-2.69 6-6 6-6-2.69-6-6H4c0 4.42 3.58 8 8 8s8-3.58 8-8-3.58-8-8-8z"
              />
            </svg>
          </ActionButton>
        </div>
        <ActionButton
          class="main__song-mode"
          v-if="store.songList.length > 0"
          :text="`${capitalizeFirstChar(mode)} mode`"
          @click="toggleMode"
        />
        <form class="center-part" @submit.prevent="bpmSubmitHandler">
          <div class="center-part__num-block" @wheel="bpmWheelChange">
            <div
              class="icon icon-left2"
              @mousedown="decreaseBpm"
              @mouseup="clearIntervalTimerId"
              @touchstart="decreaseBpm"
              @touchend="clearIntervalTimerId"
            />
            <input
              ref="bpmDOM"
              class="common-input paragraph paragraph--p1"
              :value="store.currentSong.bpm"
              @blur="bpmInputBlurHandler"
              type="number"
            />
            <div
              class="icon icon-right2"
              @mousedown="increaseBpm"
              @mouseup="clearIntervalTimerId"
              @touchstart="increaseBpm"
              @touchend="clearIntervalTimerId"
            />
          </div>
          <div class="center-part__title paragraph paragraph--p2">BPM</div>
          <div class="center-part__knob" ref="knobDOM" @wheel="bpmWheelChange">
            <client-only
              ><slider
                orientation="circular"
                v-model="store.currentSong.bpm"
                color="transparent"
                track-color="transparent"
                :max="constants.bpmMax"
                :min="constants.bpmMin"
                :handleScale="1"
                repeat
              />
            </client-only>
          </div>
          <div
            class="center-part__beats-size-info paragraph paragraph--p2"
            @click="showBeatsChangeModal = true"
          >
            {{ `${store.currentSong.beats}/${store.currentSong.size}` }}
          </div>
          <ActionButton
            typeButton
            :text="store.settings.soundType"
            class="sound-type"
            @click="soundCore.updateSound"
          />
        </form>
      </div>
      <MainControls
        :bpmUpdate="bpmUpdate"
        :tapTriggeredCounter="tapTriggeredCounter"
      />
      <SongsMenu />
      <UserMenu />
      <BeatsModal
        :show="showBeatsChangeModal"
        @closeModal="showBeatsChangeModal = false"
      />
    </div>
  </div>
</template>

<script setup>
import slider from 'vue3-slider';
import { useSystemStore } from '@/store';
import { onMounted } from 'vue';
import { constants } from '@/constants';
import { useSound } from '@/hooks/useSound';
import packageData from '@/package.json';
import { capitalizeFirstChar } from '@/utils/other';
import ActionButton from '../components/ActionButton.vue';
import { useTheme } from '../hooks/useTheme';

const timeoutToStuckClick = 50;

const store = useSystemStore();
const soundCore = useSound();
const nuxtApp = useNuxtApp();
const snackbar = useSnackbar();

const beatsDOM = ref([]);
const bpmDOM = ref(null);
const knobDOM = ref(null);
const updateSongLoading = ref(false);

const showBeatsChangeModal = ref(false);
const tapTriggeredCounter = ref(0);
const bpmChangeStuckClickIntervalId = ref(null);
const glowTimerId = ref(null);

const theme = useTheme();

const bpmInputBlurHandler = (event) => {
  const value = Number(event.srcElement.value);
  const { bpmMin, bpmMax } = constants;
  let updatedValue = value;
  if (value < bpmMin) updatedValue = bpmMin;
  if (value > bpmMax) updatedValue = bpmMax;
  bpmUpdate(updatedValue);
};

const bpmUpdate = (bpm) => {
  store.currentSong.bpm = bpm;
};
const decreaseBpm = () => {
  bpmChangeStuckClickIntervalId.value = setInterval(() => {
    store.currentSong.bpm--;
  }, timeoutToStuckClick);
};
const increaseBpm = () => {
  bpmChangeStuckClickIntervalId.value = setInterval(() => {
    store.currentSong.bpm++;
  }, timeoutToStuckClick);
};
const bpmWheelChange = (event) => {
  if (event.deltaY > 0) store.currentSong.bpm++;
  if (event.deltaY < 0) store.currentSong.bpm--;
};
const bpmSubmitHandler = () => {
  bpmDOM.value.blur();
};

const updateSong = async () => {
  updateSongLoading.value = true;
  await nuxtApp.$firebase.updateFbValue(store.userId, store.valuesToSave);
  updateSongLoading.value = false;
  store.saveSongChanges();
  snackbar.add({ type: 'success', text: 'song data updated' });
};

const clearIntervalTimerId = () => {
  clearInterval(bpmChangeStuckClickIntervalId.value);
};

watch(
  () => [
    store.currentSong.bpm,
    store.currentSong.beats,
    store.settings.volume,
    store.settings.soundType,
    store.settings.theme,
    store.songList.length,
  ],
  (
    [newBpm, newBeats, newVolume, newSoundType, newTheme, newSongs],
    [oldBpm, oldBeats, oldVolume, oldSoundType, oldTheme, oldSongs]
  ) => {
    const bpmChanged = newBpm !== oldBpm;
    const beatsChanged = newBeats !== oldBeats;

    if (bpmChanged) {
      soundCore.updateBPM();
      knobDOM.value.classList.add('center-part__knob--glow');
      glowTimerId.value = setTimeout(() => {
        knobDOM.value.classList.remove('center-part__knob--glow');
        clearTimeout(glowTimerId);
      }, 400);
    }
    if (beatsChanged) soundCore.updateSize();

    const volumeChanged = newVolume !== oldVolume;
    if (volumeChanged) {
      const value =
        Number(newVolume) <= constants.minVolume ? '-100' : newVolume;
      soundCore.updateVolume(value);
    }
    const soundTypeChanged = oldSoundType !== newSoundType;
    const themeChanged = oldTheme !== newTheme;
    const settingsChanged = soundTypeChanged || themeChanged || volumeChanged;
    if (settingsChanged && store.authorized) {
      nuxtApp.$firebase.updateFbValue(store.userId, store.valuesToSave);
    }

    const songsChanged = newSongs !== oldSongs;
    if (songsChanged && store.authorized) {
      nuxtApp.$firebase.updateFbValue(store.userId, store.valuesToSave);
    }
  }
);

const onKeyDown = (e) => {
  if (store.userMenuOpen || store.songListOpen) return;
  switch (e.code) {
    case 'Space':
      store.isPlaying = !store.isPlaying;
      break;
    case 'NumpadMultiply':
      tapTriggeredCounter.value++;
      break;
    case 'ArrowRight':
    case 'ArrowUp':
      store.currentSong.bpm++;
      break;
    case 'ArrowLeft':
    case 'ArrowDown':
      store.currentSong.bpm--;
      break;
  }
};

onMounted(() => {
  window.addEventListener('keydown', onKeyDown);
  soundCore.updateBeatsDOM(beatsDOM.value);
});

onBeforeUnmount(() => {
  window.removeEventListener('keydown', onKeyDown);
});

const mode = computed(() => (store.isCurrentSongDefault ? 'song' : 'free'));

const toggleMode = () => {
  if (mode.value === 'song') store.setFirstSong();
  else store.setDefaultSong();
};

const volumeWheelChange = (event) => {
  const delta = constants.step * constants.scrollPower;

  if (event.deltaY < 0 && store.settings.volume < 0) {
    store.settings.volume = Math.min(store.settings.volume + delta, 0);
  }

  if (event.deltaY > 0 && store.settings.volume > constants.minVolume) {
    store.settings.volume = Math.max(
      store.settings.volume - delta,
      constants.minVolume
    );
  }
};
</script>

<style lang="scss">
.page-wrapper {
  height: 100%;
}

.main__song-update-btn {
  margin-left: 8px;
  width: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__song-mode {
  margin-top: 8px;
  margin-left: auto;
}

.main__version {
  position: absolute;
  font-weight: 600;
  opacity: 0.2;
  bottom: 10px;
  right: 10px;
  padding: 10px;
}

.main__save-changes-button {
  margin-right: 12px;
}

.volume__input {
  cursor: pointer;
}

.main__song-title-wrapper {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}

.main__song-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 900px;
}

.main__content {
  height: 100%;
  padding: 8px 4px;
  position: relative;
}

.beats-indicator__container {
  display: flex;
}

.beats-indicator__title,
.volume__title {
  font-size: 18px;
  margin-bottom: 4px;
}

.volume {
  margin-top: 12px;
}

.volume .volume__title {
  margin-bottom: 2px;
}

.volume input {
  width: 100%;
  height: 10px;
  background-color: var(--grey);
  border-radius: 0%;
  appearance: none;
}

.volume input::-webkit-slider-thumb {
  width: 50px;
  height: 8px;
  background-color: var(--main-bg);
  border: 1px solid var(--grey);
  appearance: none;
  cursor: pointer;
}

.sound-type {
  max-width: 100px;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .sound-type {
    max-width: 80px;
    font-size: 12px;
    height: 24px;
  }
  .beats-indicator__title,
  .volume__title {
    font-size: 14px;
  }
}

@media (max-height: 768px) {
  .sound-type {
    margin-top: 10px;
  }
  .center-part__knob {
    width: 150px;
    height: 150px;
  }
  .center-part__title {
    font-size: 20px;
  }
  .center-part__beats-size-info {
    font-size: 20px;
    margin-top: 8px;
  }
  .center-part__num-block .icon {
    font-size: 30px;
  }
  .handle-container:nth-of-type(2) {
    width: 150px !important;
    height: 150px !important;
  }
}

.center-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-part__beats-size-info {
  margin-top: 16px;
  cursor: pointer;
}

.center-part__beats-size-info:hover {
  color: var(--accent-blue);
}

.center-part__knob {
  width: 200px;
  height: 200px;
  margin-top: 8px;
  border-radius: 50%;
  transition: 0.4s ease-in-out box-shadow;
  box-shadow: inset 3px 3px 6px var(--box-shadow-dark),
    inset -3px -3px 6px var(--box-shadow-light);
}

.center-part__knob--glow {
  box-shadow: 0 0 30px var(--accent-blue) !important;
  transition: 0.4s ease-in-out box-shadow;
}

.center-part__num-block {
  display: flex;
  align-items: center;
}

.center-part__num-block input {
  width: 100px;
  text-align: center;
  text-indent: 0;
  padding: 0;
}

.center-part__num-block .paragraph {
  margin: 0 1rem;
}

.handle-container {
  border-radius: 50%;
  border: solid 6px var(--grey);
}

.handle-container:nth-of-type(2) {
  width: 200px !important;
  height: 200px !important;
  top: 0px !important;
  left: 0px !important;
}

.handle {
  top: calc(var(--height, 6px) * 0) !important;
  transform: scale(1.1) !important;
  width: 8px !important;
  height: 30px !important;
  border-radius: 8px !important;
  background: var(--grey) !important;
}

.round-end {
  opacity: 0;
}

.page-fade-enter-active,
.page-fade-leave-active {
  transition: opacity 0.5s;
}

.page-fade-enter,
.page-fade-leave-to {
  opacity: 0;
}

.beats-indicator__element {
  width: 100%;
  margin-right: 4px;
  height: 10px;
  background: var(--grey);
}

.beats-indicator__element:last-child {
  margin-right: 0;
}

.beats-indicator__element--accent-blue {
  background: var(--accent-blue);
}

.beats-indicator__element--accent-yellow {
  background: var(--accent-yellow);
}

@media (max-height: 640px) and (orientation: landscape) {
  .beats-indicator {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg);
  }

  .beats-indicator__title,
  .volume__title {
    display: none;
  }

  .beats-indicator__container {
    height: 100%;
  }

  .beats-indicator__element {
    height: 100%;
  }
}
</style>
