<template>
  <div class="policy page">
    <div class="policy__content">
      <p class="paragraph paragraph--p4">
        At Remetronome, accessible from KETJO.github.io/Remetronome/, one of our
        main priorities is the privacy of our visitors. This Privacy Policy
        document contains types of information that is collected and recorded by
        Remetronome and how we use it.
      </p>
      <p class="paragraph paragraph--p4">
        If you have additional questions or require more information about our
        Privacy Policy, do not hesitate to contact us.
      </p>
      <p class="paragraph paragraph--p4">
        This Privacy Policy applies only to our online activities and is valid
        for visitors to our website with regards to the information that they
        shared and/or collect in Remetronome. This policy is not applicable to
        any information collected offline or via channels other than this
        website. Our Privacy Policy was created with the help of the Free
        Privacy Policy Generator.
      </p>

      <div class="heading heading--h3 heading--bold">Consent</div>
      <p class="paragraph paragraph--p4">
        By using our website, you hereby consent to our Privacy Policy and agree
        to its terms.
      </p>

      <div class="heading heading--h3 heading--bold">
        Information we collect
      </div>
      <p class="paragraph paragraph--p4">
        The personal information that you are asked to provide, and the reasons
        why you are asked to provide it, will be made clear to you at the point
        we ask you to provide your personal information.
      </p>
      <p class="paragraph paragraph--p4">
        If you contact us directly, we may receive additional information about
        you such as your name, email address, phone number, the contents of the
        message and/or attachments you may send us, and any other information
        you may choose to provide.
      </p>
      <p class="paragraph paragraph--p4">
        When you register for an Account, we may ask for your contact
        information, including items such as name, company name, address, email
        address, and telephone number.
      </p>

      <div class="heading heading--h3 heading--bold">
        How we use your information
      </div>
      <p class="paragraph paragraph--p4">
        We use the information we collect in various ways, including to:
      </p>
      <ul>
        <li class="paragraph paragraph--p4">
          Provide, operate, and maintain our website
        </li>
        <li class="paragraph paragraph--p4">
          Improve, personalize, and expand our website
        </li>
        <li class="paragraph paragraph--p4">
          Understand and analyze how you use our website
        </li>
        <li class="paragraph paragraph--p4">
          Develop new products, services, features, and functionality
        </li>
        <li class="paragraph paragraph--p4">
          Communicate with you, either directly or through one of our partners,
          including for customer service, to provide you with updates and other
          information relating to the website, and for marketing and promotional
          purposes
        </li>
        <li class="paragraph paragraph--p4">Send you emails</li>
        <li class="paragraph paragraph--p4">Find and prevent fraud</li>
      </ul>

      <div class="heading heading--h3 heading--bold">Log Files</div>
      <p class="paragraph paragraph--p4">
        App follows a standard procedure of using log files. These files log
        visitors when they visit websites. All hosting companies do this and a
        part of hosting services' analytics. The information collected by log
        files include internet protocol (IP) addresses, browser type, Internet
        Service Provider (ISP), date and time stamp, referring/exit pages, and
        possibly the number of clicks. These are not linked to any information
        that is personally identifiable. The purpose of the information is for
        analyzing trends, administering the site, tracking users' movement on
        the website, and gathering demographic information.
      </p>

      <div class="heading heading--h3 heading--bold">
        Cookies and Web Beacons
      </div>
      <p class="paragraph paragraph--p4">
        Like any other website, Remetronome uses 'cookies'. These cookies are
        used to store information including visitors' preferences, and the pages
        on the website that the visitor accessed or visited. The information is
        used to optimize the users' experience by customizing our web page
        content based on visitors' browser type and/or other information.
      </p>
      <p class="paragraph paragraph--p4">
        For more general information on cookies, please read "What Are Cookies"
        from Cookie Consent.
      </p>

      <div class="heading heading--h3 heading--bold">
        Advertising Partners Privacy Policies
      </div>
      <p class="paragraph paragraph--p4">
        You may consult this list to find the Privacy Policy for each of the
        advertising partners of Remetronome.
      </p>
      <p class="paragraph paragraph--p4">
        Third-party ad servers or ad networks uses technologies like cookies,
        JavaScript, or Web Beacons that are used in their respective
        advertisements and links that appear on Remetronome, which are sent
        directly to users' browser. They automatically receive your IP address
        when this occurs. These technologies are used to measure the
        effectiveness of their advertising campaigns and/or to personalize the
        advertising content that you see on websites that you visit.
      </p>
      <p class="paragraph paragraph--p4">
        Note that Remetronome has no access to or control over these cookies
        that are used by third-party advertisers.
      </p>

      <div class="heading heading--h3 heading--bold">
        Third Party Privacy Policies
      </div>
      <p class="paragraph paragraph--p4">
        Remetronome's Privacy Policy does not apply to other advertisers or
        websites. Thus, we are advising you to consult the respective Privacy
        Policies of these third-party ad servers for more detailed information.
        It may include their practices and instructions about how to opt-out of
        certain options.
      </p>
      <p class="paragraph paragraph--p4">
        You can choose to disable cookies through your individual browser
        options. To know more detailed information about cookie management with
        specific web browsers, it can be found at the browsers' respective
        websites.
      </p>

      <div class="heading heading--h3 heading--bold">
        CCPA Privacy Rights (Do Not Sell My Personal Information)
      </div>
      <p class="paragraph paragraph--p4">
        Under the CCPA, among other rights, California consumers have the right
        to:
      </p>
      <p class="paragraph paragraph--p4">
        Request that a business that collects a consumer's personal data
        disclose the categories and specific pieces of personal data that a
        business has collected about consumers.
      </p>
      <p class="paragraph paragraph--p4">
        Request that a business delete any personal data about the consumer that
        a business has collected.
      </p>
      <p class="paragraph paragraph--p4">
        Request that a business that sells a consumer's personal data, not sell
        the consumer's personal data.
      </p>
      <p class="paragraph paragraph--p4">
        If you make a request, we have one month to respond to you. If you would
        like to exercise any of these rights, please contact us.
      </p>

      <div class="heading heading--h3 heading--bold">
        Children's Information
      </div>
      <p class="paragraph paragraph--p4">
        Another part of our priority is adding protection for children while
        using the internet. We encourage parents and guardians to observe,
        participate in, and/or monitor and guide their online activity.
      </p>
      <p class="paragraph paragraph--p4">
        Remetronome does not knowingly collect any Personal Identifiable
        Information from children under the age of 13. If you think that your
        child provided this kind of information on our website, we strongly
        encourage you to contact us immediately and we will do our best efforts
        to promptly remove such information from our records.
      </p>
      <div class="policy__action-control">
        <ActionButton text="Agree" @click="router.go(-1)" />
      </div>
    </div>
  </div>
</template>

<script setup>
const router = useRouter();
</script>

<style lang="scss">
.policy {
  overflow-y: auto;
}

.policy__action-control {
  margin-top: 14px;
  display: flex;
  justify-content: flex-end;
}

.policy .heading {
  margin-top: 24px;
  margin-bottom: 14px;
}
</style>
