<template>
  <div class="reset-password page">
    <div v-if="!loading" @click="router.push('/')">
      <div class="link link--accent">Back</div>
    </div>
    <div class="reset-password__form">
      <div class="heading heading--h2 heading--center">Reset password</div>
      <form action="submit" @submit.prevent="resetPasswordHandler">
        <NeuroInput
          v-model="email"
          id="email"
          label="Email"
          :rules="[emailRule]"
          @valid="emailValid = true"
          :disabled="loading"
        />
        <ActionButton text="reset" :disabled="!emailValid" :loading="loading" />
      </form>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { emailRule } from '@/utils/validation-rules';
import { sendPasswordResetEmail } from 'firebase/auth';

const router = useRouter();
const email = ref('');
const emailValid = ref(false);
const loading = ref(false);
const snackbar = useSnackbar();
const nuxtApp = useNuxtApp();

const resetPasswordHandler = async () => {
  try {
    loading.value = true;
    const redirectUrl =
      process.env.NODE_ENV === 'development'
        ? 'http://localhost:3000'
        : 'https://remetronome-ketjo-61df86c96dd264e127b63809f1fc8e44d6391730c5fac.gitlab.io';
    await sendPasswordResetEmail(nuxtApp.$firebase.auth, email.value, {
      url: `${redirectUrl}/SignIn`,
    });
    snackbar.add({
      type: 'info',
      text: 'A link to reset the password has been sent',
    });
    router.push('/SignIn');
  } catch (e) {
    console.error(e);
    snackbar.add({ type: 'error', text: `Sign in failed, reason: ${e}` });
  } finally {
    loading.value = false;
  }
};
</script>

<style lang="scss">
.reset-password {
  position: relative;
}

.reset-password__form {
  width: 300px;
  @include absolute-center;
}
</style>
