<template>
  <div class="sign-up page">
    <div v-if="!loading" @click="router.go(-1)" class="link link--accent">
      Back
    </div>
    <div class="sign-up__form">
      <div class="heading heading--h2 heading--center">sign-up</div>
      <form action="submit" @submit.prevent="signUpViaEmail">
        <NeuroInput
          v-model="displayName"
          id="display-name"
          label="Name"
          :rules="[fieldRequired]"
          @valid="displayNameValid = true"
          :disabled="loading"
        />
        <NeuroInput
          v-model="email"
          id="email"
          label="Email"
          :rules="[emailRule]"
          @valid="emailValid = true"
          :disabled="loading"
        />
        <NeuroInput
          v-model="password"
          id="password"
          label="Password"
          :rules="[passwordRule]"
          type="password"
          @valid="passwordValid = true"
          :disabled="loading"
        >
          <div class="link link--accent" @click="showPassword = !showPassword">
            {{ showPassword ? 'hide' : 'show' }}
          </div>
        </NeuroInput>
        <div :class="{ disabled: loading }" class="sign-up__action-row">
          <ActionButton
            :text="'sign-up'"
            :disabled="!emailValid || !passwordValid"
            :loading="loading"
          />
        </div>
      </form>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import {
  emailRule,
  passwordRule,
  fieldRequired,
} from '@/utils/validation-rules';
import {
  createUserWithEmailAndPassword,
  sendEmailVerification,
} from 'firebase/auth';
const loading = ref(false);
const router = useRouter();
const displayName = ref('');
const displayNameValid = ref(false);
const email = ref('');
const password = ref('');
const showPassword = ref(false);
const emailValid = ref(false);
const passwordValid = ref(false);
const nuxtApp = useNuxtApp();
const snackbar = useSnackbar();

const signUpViaEmail = async () => {
  try {
    loading.value = true;
    await createUserWithEmailAndPassword(
      nuxtApp.$firebase.auth,
      email.value,
      password.value
    );
    await sendEmailVerification(nuxtApp.$firebase.auth.currentUser);
    snackbar.add({
      type: 'info',
      text: 'Sign up success, check your mailbox to confirm',
    });
    router.push('/SignIn');
  } catch (e) {
    console.error(e);
    snackbar.add({ type: 'error', text: `Sign up failed, reason: ${e}` });
  } finally {
    loading.value = false;
  }
};
</script>

<style lang="scss">
.sign-up {
  position: relative;
}

.sign-up__form {
  width: 300px;
  @include absolute-center;
}

.sign-up__action-row {
  margin-top: 46px;
  display: flex;
  margin-bottom: 14px;
}

.sign-up__action-row .icon {
  margin-right: 14px;
}
</style>
