<template>
  <div class="sign-in page">
    <div v-if="!loading" class="sign-in__logo" @click="router.push('/')">
      <img src="@/assets/img/logo.svg" />
      <div class="link link--accent">Go to app</div>
    </div>
    <div class="sign-in__form">
      <div class="heading heading--h2 heading--center">SignIn</div>
      <form action="submit" @submit.prevent="signInViaEmail">
        <NeuroInput
          v-model="email"
          id="email"
          label="Email"
          :rules="[emailRule]"
          @valid="emailValid = true"
          :disabled="loading"
        />
        <NeuroInput
          v-model="password"
          id="password"
          label="Password"
          :rules="[passwordRule]"
          :type="showPassword ? 'text' : 'password'"
          @valid="passwordValid = true"
          :disabled="loading"
        >
          <div class="link link--accent" @click="showPassword = !showPassword">
            {{ showPassword ? 'hide' : 'show' }}
          </div>
        </NeuroInput>
        <div class="sign-in__action-row" :class="{ disabled: loading }">
          <div @click="signInWithGoogle" class="icon icon-google"></div>
          <ActionButton
            text="SignIn"
            :disabled="!emailValid || !passwordValid"
            :loading="loading"
          />
        </div>
        <div
          :class="{ disabled: loading }"
          class="sign-in__sign-up-btn link link--l3 link--accent"
          @click="router.push('/SignUp')"
        >
          sign-up
        </div>
        <div
          :class="{ disabled: loading }"
          class="sign-in__forgot-password-btn link link--l4"
          @click="router.push('/ResetPassword')"
        >
          forgot password
        </div>
      </form>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { emailRule, passwordRule } from '@/utils/validation-rules';
import {
  signInWithEmailAndPassword,
  GoogleAuthProvider,
  signInWithPopup,
} from 'firebase/auth';

const router = useRouter();
const email = ref('');
const password = ref('');
const showPassword = ref(false);
const emailValid = ref(false);
const passwordValid = ref(false);
const loading = ref(false);

const nuxtApp = useNuxtApp();
const snackbar = useSnackbar();

const signInViaEmail = async () => {
  try {
    loading.value = true;
    const response = await signInWithEmailAndPassword(
      nuxtApp.$firebase.auth,
      email.value,
      password.value
    );
    if (!response?.user?.emailVerified) {
      throw new Error('Email not verified');
    }
    router.push('/');
  } catch (e) {
    console.error(e);
    snackbar.add({ type: 'error', text: `Sign in failed, reason: ${e}` });
  } finally {
    loading.value = false;
  }
};

const signInWithGoogle = async () => {
  try {
    loading.value = true;
    const provider = new GoogleAuthProvider();
    provider.setCustomParameters({ prompt: 'select_account' });

    const timeoutId = setTimeout(() => {
      loading.value = false;
      snackbar.add({ type: 'error', text: 'Authorization time exceeded' });
    }, 30000);

    await signInWithPopup(nuxtApp.$firebase.auth, provider);

    clearTimeout(timeoutId);

    router.push('/');
  } catch (e) {
    console.error(e);
    snackbar.add({ type: 'error', text: `Sign in failed, reason: ${e}` });
  } finally {
    loading.value = false;
  }
};
</script>

<style lang="scss">
.sign-in {
  position: relative;
}

.sign-in__forgot-password-btn {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}

.sign-in__sign-up-btn {
  display: flex;
  justify-content: flex-end;
}

.sign-in__form {
  width: 300px;
  @include absolute-center;
}

.sign-in__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 105px;
}

.sign-in__logo img {
  width: 40px;
  margin-bottom: 12px;
}

.sign-in__action-row {
  margin-top: 46px;
  display: flex;
  margin-bottom: 14px;
}

.sign-in__action-row .icon {
  margin-right: 14px;
}
</style>
