@mixin neuro {
  background: var(--bg-outpressed);
  box-shadow: 5px 5px 10px var(--box-shadow-dark),
    -2px -2px 10px var(--box-shadow-light);
}
@mixin neuro-pressed {
  background: var(--bg-pressed);
  box-shadow: inset 0 15px 20px var(--box-shadow-dark),
    inset 0 -5px 30px var(--box-shadow-light),
    5px 5px 10px var(--box-shadow-dark), -5px -5px 10px var(--box-shadow-light);
}
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin dark-glass {
  background-color: var(--transparent-dark);
  backdrop-filter: blur(5px);
}
@mixin max-width-1024 {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin max-width-768 {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin max-width-576 {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin max-width-320 {
  @media (max-width: 320px) {
    @content;
  }
}
@mixin min-width-1366 {
  @media (min-width: 1366px) {
    @content;
  }
}
@mixin max-height-768 {
  @media (max-height: 768px) {
    @content;
  }
}
@mixin max-height-640 {
  @media (max-height: 640px) {
    @content;
  }
}
